.counter{
    text-align: center;
    padding-top: 300px;
}

.minus{
    padding: 10px 20px;
    border: 1px solid #002BFF;
    background-color: #344FD8;
    outline: one;
    user-select: none;
    box-shadow: 0px 6px #0727CA;
    border-radius: 5px;
    font-size: 27px;
    text-transform: uppercase;
    transition: 0.2s;

}

.minus:hover{
    background-color: #00188D;
}
.minus:active{
    box-shadow: 0px 2px #0727CA;
    transform: translate(0, 4px);
}

.plus{
    padding: 10px 20px;
    border: 1px solid #002BFF;
    background-color: #344FD8;
    outline: one;
    user-select: none;
    box-shadow: 0px 6px #0727CA;
    border-radius: 5px;
    font-size: 27px;
    text-transform: uppercase;
    transition: 0.2s;
}

.plus:hover{
    background-color: #00188D;
}
.plus:active{
    box-shadow: 0px 2px #0727CA;
    transform: translate(0, 4px);
}

.number{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 27px;
    text-transform: uppercase;
    border: 1px solid #002BFF;
    
}
